<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Extras</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body class="manageBg">

<div class="topmenu">
    <a href="/index.html">Home</a>
    <a href="motorhomeIndex.html">Manage Motorhome</a>
    <a href="contractIndex.html">Manage Contract</a>
    <a href="customerIndex.html">Manage Customer</a>
    <a class="active" href="extraIndex.html">Manage Extra</a>
    <a href="autoServiceIndex.html">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Extras Management</h1>
</div>

<div class="table">
    <table>

        <tr>
            <th class="genericTableHeader relative" colspan="100%">Extras <span class="addButtonContainer">
                        <a th:href="@{'/createExtra/'}">
                            <button type="button" class="addNewButton">+ Add new</button>
                        </a>
                    </span></th>
        </tr>


        <tbody>

        <th style="background-color: white">Name</th>
        <th style="background-color: white">Description</th>
        <th style="background-color: white">Price</th>
        <th style="background-color: white" colspan="100%">Actions</th>


        <tr th:each="extra : ${extras}">
            <td th:text="${extra.name}"></td>
            <td th:text="${extra.description}"></td>
            <td th:text="${extra.price} + €"></td>

            <td class="actions">
                <a th:href="@{'/editExtra/'+${extra.extraId}}">
                    <button class="edit-button" type="button">Edit</button>
                </a>
            </td>

            <td class="actions">
                <a th:href="@{'/deleteExtra/'+${extra.extraId}}">
                    <button class="delete-button" type="button"
                            onclick="return confirm('Are you sure you want to delete this extra item?')">
                        Delete
                    </button>
                </a>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>